body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 3em;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
}
.transaction-container
{
    width: 90%;
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px #ccc;
}

h1, h2 {
    text-align: center;
}


label {
    display: block;
    margin-bottom: 5px;
}

form
{
    padding: 1em;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0 0 5px #ccc;
}

#switch-fraudulen
{
    margin: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
}
#isFraudulent{
    cursor: pointer;
}

label
{
    font-weight: bold;
}
.history-transaction-container{
    display: grid;
    grid-template-columns: 20% 80%;
}
#log-out
{
    width: 5em;
}